.footerlinks{
    color:#ffffff;
    text-decoration:none;
}
.footerlinks:hover{
    color:#ffd800;
}
.nav-item:hover {
    border: solid;
    color: #762b00;
}
#footer1 {
    background: #762b00;
}
#footer2{
    background:#531f00;
}